
@{
    Layout = null;
}

@*ANASAYFA*@


<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Anasayfa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/AddProject/slider/assets/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html"><span>NOT DEFTERİM</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/Anasayfa/Index/">Anasayfa</a></li>
            <li><a href="/Login/Index/">Giriş Yap</a></li>
            <li><a href="/Kullanım/Index">Nasıl Kullanılır?</a></li>
            <li><a href="/TeknikKart/Index/">Kart Oluştur</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/AddProject/images/5.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>ÜCRETSIZ BIR ŞEKILDE IŞ TAKIBINIZI GERÇEKLEŞTIRIN.<a href="https://templated.co"></a></p>
                    <h2>NOT DEFTERİM</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/AddProject/images/4.jpg" alt="" />
            <div class="inner">
                <header>
                    <p> NOTLARINIZ ARTIK GÜVENDE.</p>
                    <h2>GÜVENLE</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/AddProject/images/1.jpg" alt="" />
            <div class="inner">
                <header>
                    <p> EKIP RUHUNU HISSEDIN.</p>
                    <h2>EKİPÇE</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/AddProject/images/2.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>BINLERCE KOLAYLIK SUNUYORUZ</p>
                    <h2>KOLAYCA</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/AddProject/images/3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>HER ZAMAN YANINIZDAYIZ.</p>
                    <h2>KULLANIN</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/AddProject/slider/assets/js/jquery.min.js"></script>
    <script src="~/AddProject/slider/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/AddProject/slider/assets/js/skel.min.js"></script>
    <script src="~/AddProject/slider/assets/js/util.js"></script>
    <script src="~/AddProject/slider/assets/js/main.js"></script>

</body>
</html>